*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.sky{
    position: relative;
    background: lightskyblue;
    height: 40%;
}

.grass{
    background: #2e8b57;
    height: 30%;
}

.road{
    position: relative;
    background: #696969;
    height: 30%;
    border-top: .8rem solid #808080;
    border-bottom: .8rem solid #808080;
}

.lines{
    border: .4rem dashed #fff;
    height: 0;
    width: 100%;
    position: absolute;
    top: 45%;
}

.cloud:nth-child(1){
    position: absolute;
    top: 35%;
    width: 15rem;
    opacity: 0.5;
    animation: wind 80s infinite linear forwards;
}

.cloud:nth-child(2){
    position: absolute;
    top: 10%;
    width: 25rem;
    animation: wind 70s infinite linear forwards;
}

.mario{
    position: absolute;
    top: 0%;
    width: 6rem;
    animation: drive 10s linear forwards infinite, jump 0.7s 2s ease, jump 0.7s 6s ease ;
}

.luigi{
    position: absolute;
    top: 53%;
    width: 6rem;
    animation: drive 8s linear forwards infinite alternate ;
}

/* KeyFrames */

@keyframes wind{
    from{ transform: translateX(-25rem);}
    to{ transform: translateX(150rem);}
}

@keyframes drive{
    from{ transform: translateX(-5rem);}
    to{ transform: translateX(130rem);}
}

@keyframes jump{
    0%{ top:0}
    50%{ top: -3rem}
    100%{ top:0}
}