*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

header{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.logo{
    max-height: 70px;
}

.basket{
    margin: 5px 5px;
    max-height: 50px;
}

.container{
    margin: 20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

ul.cards{
    list-style-type: none;
    margin: 20px;
    display: flex;
    flex: 1 0 100px;
    flex-flow:row wrap;
    justify-content:center;
}

li{
    display: inline-block;
    position: relative;
    margin: 10px;
}

.cards img{
    max-width: 250px;
}

img.front{
    position: absolute;
}

.cards h2{
    max-width: 230px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 500;
}